ErrorDocument 400 http://juandtrujillo.cf/
ErrorDocument 401 http://juandtrujillo.cf/
ErrorDocument 403 http://juandtrujillo.cf/
ErrorDocument 404 http://juandtrujillo.cf/
ErrorDocument 503 http://juandtrujillo.cf/
Options +FollowSymLinks
RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^.*$ ./index.php
Options All -Indexes
